@charset "UTF-8";


body{
    text-align: justify;
}

div {
    text-align: center;
}

p {
    text-indent: 50px;
}

img#foto-pessoal01 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal02 {
    width: 200px;
    border-radius: 100px;
    border: 5px solid grey;
}

img#foto-pessoal03 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal04 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal05 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal06 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal07 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal08 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal09 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal10 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal11 {
    width: 200px;
    border-radius: 100px;
}

img#foto-pessoal12 {
    width: 200px;
    border-radius: 100px;
}